## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

from random import sample

sample_list_1 =sample(range(0,101),80)
print(sample_list_1)
print(len(sample_list_1))

[44, 50, 79, 78, 55, 54, 49, 1, 5, 81, 76, 26, 37, 22, 38, 96, 35, 90, 89, 48, 68, 36, 45, 97, 88, 95, 53, 4, 66, 84, 70, 33, 86, 42, 74, 64, 15, 83, 9, 32, 39, 24, 80, 99, 73, 93, 61, 67, 25, 58, 31, 57, 94, 29, 10, 40, 0, 11, 6, 16, 87, 21, 17, 63, 91, 77, 65, 46, 100, 3, 2, 51, 47, 59, 14, 98, 23, 13, 34, 43]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 13, 14, 15, 16, 17, 21, 22, 23, 24, 25, 26, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 61, 63, 64, 65, 66, 67, 68, 70, 73, 74, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

import random  

sample_list_2 = random.sample(range(101), 80)
print(sample_list_2)

[83, 40, 84, 78, 1, 94, 75, 46, 16, 15, 56, 29, 86, 97, 30, 8, 41, 65, 76, 22, 81, 20, 11, 6, 32, 31, 28, 61, 88, 90, 82, 68, 67, 87, 69, 24, 10, 27, 59, 45, 85, 18, 91, 42, 17, 49, 38, 34, 80, 3, 53, 96, 4, 23, 95, 52, 70, 5, 44, 36, 25, 60, 19, 89, 77, 99, 57, 55, 37, 9, 71, 48, 26, 74, 35, 43, 51, 13, 64, 93]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{1, 3, 4, 5, 6, 8, 9, 10, 11, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 55, 56, 57, 59, 60, 61, 64, 65, 67, 68, 69, 70, 71, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99}
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1 - set2
print(set3)

{0, 33, 2, 66, 98, 100, 39, 73, 14, 47, 79, 50, 21, 54, 58, 63}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2 - set1
print(set4)

{69, 71, 8, 41, 75, 60, 18, 19, 20, 52, 82, 85, 56, 27, 28, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{1, 3, 4, 5, 6, 9, 10, 11, 13, 15, 16, 17, 22, 23, 24, 25, 26, 29, 31, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 49, 51, 53, 55, 57, 59, 61, 64, 65, 67, 68, 70, 74, 76, 77, 78, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
# I canÂ´t understand the question of the exercise.

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6 = set()
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 13, 14, 15, 16, 17, 21, 22, 23, 24, 25, 26, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 61, 63, 64, 65, 66, 67, 68, 70, 73, 74, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

equals_not_equals = set1 - set6
print(equals_not_equals)

#I decided to subtract set1 to set6 in order to return a result to me, so they would be different, not returning any results, the two sets are the same

set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

set1_new = set1.issubset(set2)
print(set1_new)

set1_new2 = set1.issubset(set3)
print(set1_new2)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
first_union = set()
first_union = first_union.union(set3) | first_union.union(set4) | first_union.union(set5)


second_union = set()
second_union = second_union.union(set1) | second_union.union(set3)


equal_values = first_union - second_union
print(equal_values)

#the values are not equal since values are returned once the different sets added are subtracted.

{69, 71, 8, 41, 75, 60, 18, 19, 20, 52, 82, 85, 56, 27, 28, 30}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

pop_method = set1.pop()
print(pop_method)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_list_to_remove = set(list_to_remove)

remaining_elements = set1 - set_list_to_remove
print(remaining_elements)

#To get the result, I first transformed list_to_remove into a set and then subtracted it from set1, to remove the elements of list_to_remove and print from the rest of the elements

{2, 3, 4, 5, 6, 10, 13, 14, 15, 16, 17, 22, 23, 24, 25, 26, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 63, 64, 65, 66, 67, 68, 70, 73, 74, 76, 77, 78, 80, 83, 84, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}